{% extends 'base.html.twig' %}

{% block title %}Edit Cycle
{% endblock %}

{% block body %}
	{{include("sidebar.html.twig")}}


	<div class="home_content" style="margin-top:200px; height: 100%;">
		<h1>Edit Cycle</h1>
		<div style="width:900px;height:80px; background-color:#eee;margin-right:auto; margin-left:auto">
			<center>

				<a href="{{ path('cycle_index') }}">
					<button class="btn" style="border:solid 1px;width:900px;height:80px;margin-right:auto; margin-left:auto">
						<h1>back to list</h1>
					</button>
				</a>

			</center>
		</div>
		<div class="table table-bordered table-white" style="width:900px; border:solid 1px; margin-right:auto; margin-left:auto;">


			{{ include('cycle/_form.html.twig', {'button_label': 'Update'}) }}
		</div>

		{# <a href="{{ path('cycle_index') }}">back to list</a> #}

		{{ include('cycle/_delete_form.html.twig') }}


	</div>
{% endblock %}
