{% extends 'base.html.twig' %}

{% block title %}Eleve
{% endblock %}

{% block body %}

	{{include("sidebar.html.twig")}}
	<style>
		body {
			background-color: #eee;
		}
	</style>

	<div class="home_content" style="margin-top:200px; height: 100%;">

		<h1>Eleve</h1>

		<table class="table table-bordered table-white" style="background-color:#fff;width:900px; border:solid 1px; margin-right:auto; margin-left:auto;">

			<thead>


				<div style="width:900px;height:80px; background-color:#eee;margin-right:auto; margin-left:auto">
					<center>

						<a href="{{ path('eleve_index') }}">
							<button class="btn btn-outline-secondary" style="color:black;border:solid 1px;width:900px;height:80px;margin-right:auto; margin-left:auto">
								<h1>Back to list</h1>
							</button>
						</a>

					</center>
				</div>

				<div style="width:900px;height:60px; margin-right:auto; margin-left:auto">


					<a href="{{ path('eleve_edit', {'id': eleve.id}) }}">
						<button class="btn btn-outline-success" style="width:900px;height:60px;margin-right:auto; margin-left:auto">
							<h1>Edit</h1>
						</button>
					</a>


				</div>

				<tr>
					<th scope="col">Information</th>
					<th scope="col" style="width:200px;">Details</th>

				</tr>
			</thead>

			<tbody>
				<tr>
					<th>Id</th>
					<td>{{ eleve.id }}</td>
				</tr>
				<tr>
					<th>Nom</th>
					<td>{{ eleve.nom }}</td>
				</tr>
				<tr>
					<th>Prenom</th>
					<td>{{ eleve.prenom }}</td>
				</tr>
				<tr>
					<th>Date_de_naissance</th>
					<td>{{ eleve.dateDeNaissance ? eleve.dateDeNaissance|date('Y-m-d H:i:s') : '' }}</td>
				</tr>
			</tbody>
		</table>

		{{ include('eleve/_delete_form.html.twig') }}
	</div>
{% endblock %}
