{% extends 'base.html.twig' %}


{% block title %}Log in!
{% endblock %}

{% block body  %}

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
		<!--boxicons CDN -->
		<link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
	</head>

	<form method="post">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}
		{# 
															{% if app.user %}
																<div class="mb-3">
																	You are logged in as
																	{{ app.user.username }},
																	<a href="{{ path('app_logout') }}">Logout</a>
																</div>
															{% endif %} #}


		<section class="vh-100" style="background-color: #eee;">
			<div class="container h-100">
				<div class="row d-flex justify-content-center align-items-center h-100">
					<div class="col-lg-12 col-xl-11">
						<div class="card text-black" style="border-radius: 25px;">
							<div class="card-body p-md-5">
								<div class="row justify-content-center" style="background-color: #fff;">
									<div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1" style="background-color: #fff;">

										<p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4" style="background-color: #fff;">Sign up</p>

										<div class="mx-1 mx-md-4" style="background-color: #fff;">

											<div class="d-flex flex-row align-items-center mb-4" style="background-color: #fff;">
												<i class="fas fa-user fa-lg me-3 fa-fw"></i>
												<div class="form-outline flex-fill mb-0" style="background-color: #fff;">
													<input type="text" value="{{ last_username }}" name="identifiant" id="inputIdentifiant" class="form-control"/>
													<label class="form-label" for="inputIdentifiant" style="background-color: #fff;">Identifiant</label>
												</div>
											</div>

											<div class="d-flex flex-row align-items-center mb-4" style="background-color: #fff;">
												<i class="fas fa-lock fa-lg me-3 fa-fw"></i>
												<div class="form-outline flex-fill mb-0" style="background-color: #fff;">

													<input type="password" name="password" id="inputPassword" class="form-control"/>
													<label class="form-label" for="inputPassword" style="background-color: #fff;">Mot de passe</label>
												</div>
											</div>


											<div class="form-check d-flex justify-content-center mb-5" style="background-color: #fff;">
												<input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c"/>
												<label class="form-check-label" for="form2Example3" style="background-color: #fff;">
													I agree all statements in
													<a href="#!" style="background-color: #fff;">Terms of service</a>
												</label>
											</div>
											<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

											<div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4" style="background-color: #fff;">
												<button type="submit" class="btn btn-primary btn-lg">Sign in</button>
											</div>

										</div>

									</div>
									<div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2" style="background-color: #eee;">

										<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp" class="img-fluid" alt="Sample image">

									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

	</form>
{% endblock %}
