{% extends 'base.html.twig' %}

{% block title %}TypeUtilisateur
{% endblock %}

{% block body %}
	{{include("sidebar.html.twig")}}


	<div class="home_content" style="margin-top:200px; height: 100%;">

		<h1>TypeUtilisateur</h1>

		<table class="table table-bordered table-white" style="width:900px; border:solid 1px; margin-right:auto; margin-left:auto;">
			<thead>


				<div style="width:900px;height:80px; background-color:#eee;margin-right:auto; margin-left:auto">
					<center>

						<a href="{{ path('type_utilisateur_index') }}">
							<button class="btn" style="border:solid 1px;width:900px;height:80px;margin-right:auto; margin-left:auto">
								<h1>back to list</h1>
							</button>
						</a>

					</center>
				</div>

				<div style="width:900px;height:60px; margin-right:auto; margin-left:auto">


					<a href="{{ path('type_utilisateur_edit', {'id': type_utilisateur.id}) }}">
						<button class="btn btn-outline-success" style="width:900px;height:60px;margin-right:auto; margin-left:auto">
							<h1>Edit</h1>
						</button>
					</a>


				</div>

				<tr>
					<th scope="col">Information</th>
					<th scope="col" style="width:200px;">Details</th>

				</tr>
			</thead>

			<tbody>
				{# <tr>
									<th>Id</th>
									<td>{{ type_utilisateur.id }}</td>
								</tr> #}
				<tr>
					<th>Role</th>
					<td>{{ type_utilisateur.role }}</td>
				</tr>
				<tr>
					<th>Description</th>
					<td>{{ type_utilisateur.description }}</td>
				</tr>
			</tbody>
		</table>

		{# <a href="{{ path('type_utilisateur_index') }}">back to list</a> #}

		{# <a href="{{ path('type_utilisateur_edit', {'id': type_utilisateur.id}) }}">edit</a> #}

		{{ include('type_utilisateur/_delete_form.html.twig') }}
	</div>

{% endblock %}
